.cont8 {
    background-color: #B9FF66;
    margin-top: 3vh;
    margin-left: 4vw;
    width: 91%;
    border: 2px solid black;
    border-bottom: 6px solid black;
    border-radius: 60px;
    height: 40vh;
    margin-bottom: 40px;
}

.cont9 {
    margin-left: 4vw;
    margin-bottom: 5vh;
}

.grey2 {
    width: 91%;
    height: 13vh;
    padding: 0% 2.3%;
    align-content: center;
    /* height: max-content; */
    background-color: #F3F3F3;
    border: 2px solid black;
    border-bottom: 7px solid black;
    border-radius: 35px;
    margin-bottom: 4.5vh;
}
@media only screen and (orientation:portrait){
    .no{
        font-size: 2.5rem;
    }
    .head{
        font-size: 2rem;
        font-weight: 400;
        top: -4px;
        margin-left: 5vw;
       
    }
    .border2{
        margin-bottom: 3vh;
        margin-top: 3vh;
    }
    .m{
        margin-bottom: 2vh;
    }
    .cont8{
        height: max-content;
    }
    .cont8 p{
        width: 90%;
        text-align: center;
    }
    
    .grey2{
        height: 10vh;
        align-content: start;
    }
    
}