.cont4 {
    display: flex;
    margin-top: 7vh;
    margin-left: 4vw;
    align-items: center;
    margin-bottom: 7vh;
}

.but {
    font-size: 2.5rem;
    padding: 0.8rem;
    width: max-content;
    background-color: #B9FF66;
    color: black;
    border: 1px solid #B9FF66;
    border-radius: 15px;
    font-weight: 400;
}

.cont4 p {
    width: 55%;
    font-size: 1.5rem;
    margin-left: 4vw;
}
.cont5 {
    display: flex;
    margin-left: 4vw;
    margin-bottom: 6vh;
}

.lhs {
    width: 48vw;
    margin-right: 4vw;
}

.poster {
    height: 46vh;
    width: 40vw;
    border: 2px solid black;
    border-bottom: 6px solid black;
    margin-top: 5vh;
    margin-bottom: 4vh;
    border-radius: 50px;
    display: flex;
}

.green {
    background-color: #B9FF66;
    color: black;
}

.black {
    background-color: #191A23;
    color: white;
}

.grey {
    background-color: #F3F3F3;
    color: black;
}
.poster img {
    height: 67%;
    width: 37%;
    margin-top: 8vh;
    margin-left: 5.2vw;
}

.text2 {
    margin-top: 7vh;
    margin-left: 3.8vw;
    font-size:2rem;
    font-weight: 400;
}
.text2 p{
    margin-bottom: 0;
    margin-top: 0;
}

.lm {
    margin-top: 13vh;
    margin-left: 3vw;
    font-size: 1.5rem;
    font-weight: 300;
}

.grey p {
    background-color: #B9FF66;
    padding: 2px;
    border: 1px solid #B9FF66;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    width: max-content;
}

.black p {
    background-color: white;
    padding: 2px;
    border: 1px solid white;
    color: black;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    width: max-content;
}

.green p {
    background-color: white;
    padding: 2px;
    border: 1px solid white;
    color: black;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    width: max-content;
}
@media only screen and (orientation:portrait){
    .cont4{
        flex-direction: column;
        margin-top: 4vh;
        margin-left: 0vw;
        margin-bottom: 2vh;
    }
    .but{
        width: max-content;
        font-size: 1.9rem;
        padding: 0.5rem ;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    
    .cont4 p{
        width: 92vw;
        margin-right: 5vw;
        margin-left: 5vw;
        text-align: center;
    }
    .cont5{
        flex-direction: column;
        margin-left: 3vw;
        margin-top: 2vh;
        
    }
    .poster{
        width: 93vw;
        height: 33vh;
    }
    .lm{
        font-size: 1.1rem;
        margin-top: 5rem;
        font-weight: 400;
        margin-left: 1rem;
    }
    .text2{
        margin-top: 3vh;
        margin-left: 4vw;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .poster img{
        height: 60%;
        width: 40%;
        /* margin-left: 1rem; */
        margin-left: 3.8vw;
    }
}
