.cont6 {
    display: flex;
    margin-top: 5vh;
    background-color: #F3F3F3;
    margin-left: 3vw;
    width: 94%;
    border: 1px solid #F3F3F3;
    border-radius: 50px;
    height: 320px;
    margin-bottom: 10vh;
    overflow: hidden;
}

.f1 {
    margin-top: 7vh;
    margin-left: 6vw;
    width: 38%;
}

.f1 div {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.f1 p{
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
}

.cont6 img {
    margin-left: 15vw;
    height: 120%;
    position: relative;
    top: -30px;
}
@media only screen and (orientation:portrait){
    .cont6 img{
        opacity: 0;
    }
    .cont6{
        flex-direction: column;
        background-color: gainsboro;
        min-height: 37vh;
        max-height: 50vh;
    }
    .f1 div{
        width: 90vw;
        text-align: center;
        font-weight: 400;
        

    }
    .f1 p{
        text-align: center;
        width: 90vw;
        margin: 0.5rem 0.3rem;
    }
    .f1{
        margin-left: 0;
        margin-top: 4vh;
    }
    .f1 button{
        text-align: center;
        justify-content: center;
        padding: 0.8rem 1rem;
        width: 55vw;
        margin-left: 20vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}