.App {
  /* text-align: center; */
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and(orientation:portrait){
  .App{
    text-align: center;
  }
}


