#xy {
    width: 33vw;
    font-size: 1.4rem;
    margin-left: 4.1vw;
}

.y {
    width: max-content;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.cont7 {
    display: flex;
    margin-top: 8vh;
    background-color: #191A23;
    margin-left: 4vw;
    width: 92%;
    border: 1px solid #191A23;
    border-radius: 50px;
    /* height:45vh; */
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    justify-content: space-evenly;
}

.verti {
    height: 215px;
    width: 2px;
    margin-top: 3vw;
    background-color: white;
}

.text4 {
    height: 70%;
    margin-top: 7vh;
    color: white;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 24%;
    font-size: 1.3rem;
    font-weight: 400;
}

.learn {
    margin-top: 5vh;
    color: #B9FF66;
    font-size: 1.3;
    font-weight: 200;
    
}

.learn i {
    font-weight: 900;
    font-size: 1.2rem;
    margin-left: 0.5vw;
}
@media only screen and (orientation:portrait){
    .cont4{
        flex-direction: column;
        margin-top: 4vh;
        margin-left: 0vw;
        margin-bottom: 2vh;
    }
    .but{
        width: max-content;
        font-size: 1.9rem;
    }
    #xy{
        width: 92vw;
        margin-bottom: 2vh;
    }
    .cont7{
        flex-direction: column;
        margin-top: 3vh;
    }
    .verti{
        height: 2px;
        width: 90%;
        background-color: white;
        margin-left: 5%;
        margin-top: 3vh;
    }
    .text4{
        text-align: center;
        width: 90%;
    }
    .learn{
        margin-top: 3vh;
    }
}